.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.drawer.open {
  right: 0;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 20px;
}

input, select {
  width: inherit;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.drawer-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.cancel-btn, .apply-btn{
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.add-expense-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  padding: 10px 16px;
  border: 2px solid #aeb3c1; /* Light gray border */
  border-radius: 24px; /* Rounded edges */
  background-color: white;
  color: #1f3057; /* Dark blue text */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-expense-button:hover {
  background-color: #f5f7fa; /* Light hover effect */
}

.add-expense-button svg {
  width: 18px;
  height: 18px;
  stroke: #1f3057; /* Dark blue icon color */
}

.cancel-btn {
  background: #fff;
  border: 1px solid #ccc;
}

.apply-btn, .add-expense-btn {
  background: #4caf50;
  color: white;
}

.apply-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}
